@using doccure.Data.Models;
@using doccure.Data.ResponseModels;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<Applicationuser> SignInManager
@inject UserManager<Applicationuser> UserManager
@{
	var Patient = (Applicationuser)ViewBag.Patient;
	var Books = (List<Booking>)ViewBag.Books;
}
<div class="breadcrumb-bar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-12 col-12">
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">My Patients</li>
					</ol>
				</nav>
				<h2 class="breadcrumb-title">My Patients</h2>
			</div>
		</div>
	</div>
</div>
<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar dct-dashbd-lft">

							<!-- Profile Widget -->
							<div class="card widget-profile pat-widget-profile">
								<div class="card-body">
									<div class="pro-widget-content">
										<div class="profile-info-widget">
											<a href="#" class="booking-doc-img">
												<img src="~/img/uploads/@Patient.Image" alt="User Image">
											</a>
											<div class="profile-det-info">
												<h3>@Patient.FirstName @Patient.LastName</h3>

												<div class="patient-details">
													<h5><b>Patient ID :</b> @Patient.Id.Substring(0,5)</h5>
													<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> @Patient.address?.Address1</h5>
												</div>
											</div>
										</div>
									</div>
									<div class="patient-info">
										<ul>
											<li>Phone <span>@Patient.PhoneNumber</span></li>
											<li>Date Of Birth <span>@Patient.DateofBirth  Years, @Patient.Gender</span></li>
											<li>Blood Group <span>@Patient.BloodGroup</span></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- /Profile Widget -->
								<div class="card">
								<div class="card-header">
									<h4 class="card-title">Last Booking</h4>
								</div>
								<ul class="list-group list-group-flush">
				@{
					for (int i = 0; i < Books.Count&&i<3; i++)
					{
					
						
									<li class="list-group-item">
										<div class="media align-items-center">
											<div class="mr-3">
											<img alt="Image placeholder" src="~/img/uploads/@Books[i].doctor.Image" class="avatar  rounded-circle">
											</div>
											<div class="media-body">
											<h5 class="d-block mb-0">Dr. @Books[i].doctor.FirstName @Books[i].doctor.LastName </h5>
												<span class="d-block text-sm text-muted">@Books[i].doctor.doctor.Speciality.Name</span>
											<span class="d-block text-sm text-muted">@Books[i].bookingDate</span>
											</div>
										</div>
									</li>
									
								
						
					}
				}
				
				</ul>
							</div>
						</div>

						<div class="col-md-7 col-lg-8 col-xl-9 dct-appoinment">
							<div class="card">
								<div class="card-body pt-0">
									<div class="user-tabs">
										<ul class="nav nav-tabs nav-tabs-bottom nav-justified flex-wrap">
											<li class="nav-item">
												<a class="nav-link active" href="#pat_appointments" data-toggle="tab">Appointments</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#pres" data-toggle="tab"><span>Prescription</span></a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#medical" data-toggle="tab"><span class="med-records">Medical Records</span></a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#billing" data-toggle="tab"><span>Billing</span></a>
											</li> 
										</ul>
									</div>
									<div class="tab-content">

										
							<partial name="_Appointment" />
							<partial name="_Prescription" />
							<partial name="_MedicalRecord" />
							<partial name="Billing" />

										


									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
@section AddMedicalRecord {
	<partial name="_AddMedicalRecord" />
}