@using doccure.Data.Models;
@using doccure.Data.ResponseModels;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<Applicationuser> SignInManager
@inject UserManager<Applicationuser> UserManager
@{
	var Patient = (Applicationuser)ViewBag.Patient;
	var Books = (List<Booking>)ViewBag.Books;
}
<!-- Prescription Tab -->
<div class="tab-pane fade" id="pres">
	@if (SignInManager.IsSignedIn(User) && @User.FindFirstValue(ClaimTypes.Role) != "patient")
	{
		<div class="text-right">
			<a href="@Url.Action("Index", "LastAppoitment",new { @id = @Patient.Id })" class="add-new-btn">Add Prescription</a>
	</div>}
	<div class="card card-table mb-0">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-hover table-center mb-0 prescription-delete-all">
					<thead>
						<tr>
							<th>Date </th>
							<th>Name</th>
							<th>Created by </th>
							<th></th>
						</tr>
					</thead>
					<tbody class="prescription-delete-table">
						@{
							for (int i = 0; i < Books.Count; i++)
							{
								if (Books[i].Prescription.Any())
								{
									<tr>
										<td>@Books[i].bookingDate</td>
										<td>Prescription @i</td>
										<td>
											<h2 class="table-avatar">
												<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
													<img class="avatar-img rounded-circle" src="~/img/uploads/@Books[i].doctor.Image" alt="User Image">
												</a>
												<a href="doctor-profile.html">Dr. @Books[i].doctor.FirstName @Books[i].doctor.LastName  <span>@Books[i].doctor.doctor.Speciality.Name</span></a>
											</h2>
										</td>
										<td class="text-right">
											<div class="table-action ">
												<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
													<i class="fas fa-print"></i> Print
												</a>
												<a href="@Url.Action("ViewPrescription", "Prescription",new { @BookingId=Books[i].Id,@PatientId = @Patient.Id,@state="View" })" class="btn btn-sm bg-info-light">
													<i class="far fa-eye"></i> View
												</a>
												@if (SignInManager.IsSignedIn(User) && @User.FindFirstValue(ClaimTypes.Role) != "patient")
												{
													<a href="@Url.Action("ViewPrescription", "Prescription",new { @BookingId=Books[i].Id,@PatientId = @Patient.Id,@state="Edit" })" class="btn btn-sm bg-success-light">
														<i class="fas fa-edit"></i> Edit
													</a>
													<a class="btn btn-sm bg-danger-light trash">
														<input name="BookingId" readonly="readonly" hidden="hidden" value="@Books[i].Id">
														<i class="far fa-trash-alt"></i> Delete
													</a>
												}

											</div>
										</td>
									</tr>

								}
							}
						}
						@*<tr>
						<td>14 Nov 2019</td>
						<td>Prescription 1</td>
						<td>
						<h2 class="table-avatar">
						<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
						<img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image">
						</a>
						<a href="doctor-profile.html">Dr. Ruby Perrin <span>Dental</span></a>
						</h2>
						</td>
						<td class="text-right">
						<div class="table-action">
						<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
						<i class="fas fa-print"></i> Print
						</a>
						<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
						<i class="far fa-eye"></i> View
						</a>
						</div>
						</td>
						</tr>*@
						@*<tr>
						<td>13 Nov 2019</td>
						<td>Prescription 2</td>
						<td>
						<h2 class="table-avatar">
						<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
						<img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
						</a>
						<a href="doctor-profile.html">Dr. Darren Elder <span>Dental</span></a>
						</h2>
						</td>
						<td class="text-right">
						<div class="table-action">
						<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
						<i class="fas fa-print"></i> Print
						</a>
						<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
						<i class="far fa-eye"></i> View
						</a>
						<a href="edit-prescription.html" class="btn btn-sm bg-success-light">
						<i class="fas fa-edit"></i> Edit
						</a>
						<a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
						<i class="far fa-trash-alt"></i> Delete
						</a>
						</div>
						</td>
						</tr>
						<tr>
						<td>12 Nov 2019</td>
						<td>Prescription 3</td>
						<td>
						<h2 class="table-avatar">
						<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
						<img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-03.jpg" alt="User Image">
						</a>
						<a href="doctor-profile.html">Dr. Deborah Angel <span>Cardiology</span></a>
						</h2>
						</td>
						<td class="text-right">
						<div class="table-action">
						<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
						<i class="fas fa-print"></i> Print
						</a>
						<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
						<i class="far fa-eye"></i> View
						</a>
						</div>
						</td>
						</tr>
						<tr>
						<td>11 Nov 2019</td>
						<td>Prescription 4</td>
						<td>
						<h2 class="table-avatar">
						<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
						<img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-04.jpg" alt="User Image">
						</a>
						<a href="doctor-profile.html">Dr. Sofia Brient <span>Urology</span></a>
						</h2>
						</td>
						<td class="text-right">
						<div class="table-action">
						<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
						<i class="fas fa-print"></i> Print
						</a>
						<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
						<i class="far fa-eye"></i> View
						</a>
						</div>
						</td>
						</tr>
						<tr>
						<td>10 Nov 2019</td>
						<td>Prescription 5</td>
						<td>
						<h2 class="table-avatar">
						<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
						<img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-05.jpg" alt="User Image">
						</a>
						<a href="doctor-profile.html">Dr. Marvin Campbell <span>Dental</span></a>
						</h2>
						</td>
						<td class="text-right">
						<div class="table-action">
						<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
						<i class="fas fa-print"></i> Print
						</a>
						<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
						<i class="far fa-eye"></i> View
						</a>
						</div>
						</td>
						</tr>
						<tr>
						<td>9 Nov 2019</td>
						<td>Prescription 6</td>
						<td>
						<h2 class="table-avatar">
						<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
						<img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-06.jpg" alt="User Image">
						</a>
						<a href="doctor-profile.html">Dr. Katharine Berthold <span>Orthopaedics</span></a>
						</h2>
						</td>
						<td class="text-right">
						<div class="table-action">
						<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
						<i class="fas fa-print"></i> Print
						</a>
						<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
						<i class="far fa-eye"></i> View
						</a>
						</div>
						</td>
						</tr>
						<tr>
						<td>8 Nov 2019</td>
						<td>Prescription 7</td>
						<td>
						<h2 class="table-avatar">
						<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
						<img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-07.jpg" alt="User Image">
						</a>
						<a href="doctor-profile.html">Dr. Linda Tobin <span>Neurology</span></a>
						</h2>
						</td>
						<td class="text-right">
						<div class="table-action">
						<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
						<i class="fas fa-print"></i> Print
						</a>
						<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
						<i class="far fa-eye"></i> View
						</a>
						</div>
						</td>
						</tr>
						<tr>
						<td>7 Nov 2019</td>
						<td>Prescription 8</td>
						<td>
						<h2 class="table-avatar">
						<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
						<img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-08.jpg" alt="User Image">
						</a>
						<a href="doctor-profile.html">Dr. Paul Richard <span>Dermatology</span></a>
						</h2>
						</td>
						<td class="text-right">
						<div class="table-action">
						<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
						<i class="fas fa-print"></i> Print
						</a>
						<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
						<i class="far fa-eye"></i> View
						</a>
						</div>
						</td>
						</tr>
						<tr>
						<td>6 Nov 2019</td>
						<td>Prescription 9</td>
						<td>
						<h2 class="table-avatar">
						<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
						<img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-09.jpg" alt="User Image">
						</a>
						<a href="doctor-profile.html">Dr. John Gibbs <span>Dental</span></a>
						</h2>
						</td>
						<td class="text-right">
						<div class="table-action">
						<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
						<i class="fas fa-print"></i> Print
						</a>
						<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
						<i class="far fa-eye"></i> View
						</a>
						</div>
						</td>
						</tr>
						<tr>
						<td>5 Nov 2019</td>
						<td>Prescription 10</td>
						<td>
						<h2 class="table-avatar">
						<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
						<img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-10.jpg" alt="User Image">
						</a>
						<a href="doctor-profile.html">Dr. Olga Barlow <span>Dental</span></a>
						</h2>
						</td>
						<td class="text-right">
						<div class="table-action">
						<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
						<i class="fas fa-print"></i> Print
						</a>
						<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
						<i class="far fa-eye"></i> View
						</a>
						</div>
						</td>
						</tr>*@
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /Prescription Tab -->