@model doccure.Data.RequestModels.PrescriptionRequest;
@using doccure.Data.Models;
@{
    var lastAppiontment = (Booking)ViewBag.lastAppiontment;
    var State = (string)ViewBag.State;
}
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Prescription</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Add Prescription</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                <!-- Profile Widget -->
                <div class="card widget-profile pat-widget-profile">
                    <div class="card-body">
                        <div class="pro-widget-content">
                            <div class="profile-info-widget">
                                <a href="#" class="booking-doc-img">
                                    <img src="~/img/uploads/@lastAppiontment.patient.Image" alt="User Image">
                                </a>
                                <div class="profile-det-info">
                                    <h3>@lastAppiontment.patient.FirstName @lastAppiontment.patient.LastName</h3>

                                    <div class="patient-details">
                                        <h5><b>Patient ID :</b> @lastAppiontment.patient.Id.Substring(0,5)</h5>
                                        <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> @lastAppiontment.patient?.address.Address1</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="patient-info">
                            <ul>
                                <li>Phone <span>@lastAppiontment.patient.PhoneNumber</span></li>
                                <li>Date Of Birth <span>@lastAppiontment.patient.DateofBirth  Years, @lastAppiontment.patient.Gender</span></li>
                                <li>Blood Group <span>@lastAppiontment.patient.BloodGroup</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Profile Widget -->

            </div>

            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Add Prescription</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="biller-info">
                                    <h4 class="d-block">Dr. @lastAppiontment.doctor.FirstName @lastAppiontment.doctor.LastName</h4>
                                    <span class="d-block text-sm text-muted">@lastAppiontment.doctor.doctor.Speciality.Name</span>
                                    <span class="d-block text-sm text-muted">@lastAppiontment.doctor.address?.Address1</span>
                                </div>
                            </div>
                            @*<div class="col-sm-6 text-sm-right">
                            <div class="billing-info">
                            <h4 class="d-block">1 November 2019</h4>
                            <span class="d-block text-muted">#INV0001</span>
                            </div>
                            </div>*@
                        </div>

                        <!-- Add Item -->
                        <div class="add-more-item text-right">
                            @if (State != "View")
                            {
                                                             <a><i class="fas fa-plus-circle"></i> Add Item</a>
                            }

                        </div>
                        <form asp-action="AddPrescription" asp-controller="Prescription">
                            <input type="number" class="form-control" asp-for="BookingId" value="@lastAppiontment.Id" readonly hidden="hidden">
                            <!-- /Add Item -->
                            <!-- Prescription Item -->
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-center">
                                            <thead>
                                                <tr>
                                                    <th style="min-width: 200px">Name</th>
                                                    <th style="min-width: 100px">Quantity</th>
                                                    <th style="min-width: 100px">Days</th>
                                                    <th style="min-width: 100px;">Time</th>
                                                    <th style="min-width: 80px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="prescription-info">

                                                @{
                                                    for (int i=0;i<lastAppiontment.Prescription.Count; i++)
                                                    {
                                                        var prescription = lastAppiontment.Prescription.ElementAtOrDefault(i);
                                                      
                                                        <tr class="prescription-count">
                                                            
                                                            <td>
                                                                <input class="form-control" name="PrescriptionID" value="@prescription.Id" readonly="readonly" hidden="hidden" type="number">

                                                                @if (State == "View")
                                                                {
                                                                    <input class="form-control" name="prescriptions[@i].Name" value="@prescription.Name" readonly="readonly" type="text">
                                                                }
                                                                else
                                                                {
                                                                    <input class="form-control" name="prescriptions[@i].Name" value="@prescription.Name" type="text">
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (State == "View")
                                                                {
                                                                    <input class="form-control" name="prescriptions[@i].Quantity" value="@prescription.Quantity" readonly="readonly" type="number">
                                                                }
                                                                else
                                                                {
                                                                    <input class="form-control" name="prescriptions[@i].Quantity" value="@prescription.Quantity" type="number">
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (State == "View")
                                                                {
                                                                    <input class="form-control" name="prescriptions[@i].Days" value="@prescription.Days" readonly="readonly" type="number">
                                                                }
                                                                else
                                                                {
                                                                    <input class="form-control" name="prescriptions[@i].Days" value="@prescription.Days" type="number">
                                                                }
                                                            </td>
                                                            <td>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label">
                                                                        @if (State == "View")
                                                                        {
                                                                            if (@prescription.Morning == true)
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Morning" checked="checked" value="true" disabled="disabled" type="checkbox">

                                                                            }
                                                                            else
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Morning" disabled="disabled" type="checkbox">

                                                                            }


                                                                                                                        }

                                                                        else
                                                                        {
                                                                            if (@prescription.Morning == true)
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Morning" checked="checked" value="true" type="checkbox">

                                                                            }
                                                                            else
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Morning"  type="checkbox">

                                                                            }
                                                                                                                        }
                                                                            Morning
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label">
                                                                        @if (State == "View")
                                                                        {
                                                                            if (@prescription.Afternoon == true)
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Afternoon" checked="checked" value="true" disabled="disabled" type="checkbox">

                                                                            }
                                                                            else
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Afternoon" disabled="disabled" type="checkbox">

                                                                            }


                                                                        }

                                                                        else
                                                                        {
                                                                            if (@prescription.Afternoon == true)
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Afternoon" checked="checked" value="true" type="checkbox">

                                                                            }
                                                                            else
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Afternoon" type="checkbox">

                                                                            }
                                                                        }
                                                                        Afternoon
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label">
                                                                        @if (State == "View")
                                                                        {
                                                                            if (@prescription.Evening == true)
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Evening" checked="checked" value="true" disabled="disabled" type="checkbox">

                                                                            }
                                                                            else
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Evening" disabled="disabled" type="checkbox">

                                                                            }


                                                                        }

                                                                        else
                                                                        {
                                                                            if (@prescription.Evening == true)
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Evening" checked="checked" value="true" type="checkbox">

                                                                            }
                                                                            else
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Evening" type="checkbox">

                                                                            }
                                                                        }
                                                                        Evening
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label">
                                                                        @if (State == "View")
                                                                        {
                                                                            if (@prescription.Night == true)
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Night" checked="checked" value="true" disabled="disabled" type="checkbox">

                                                                            }
                                                                            else
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Night" disabled="disabled" type="checkbox">

                                                                            }


                                                                        }

                                                                        else
                                                                        {
                                                                            if (@prescription.Night == true)
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Night" checked="checked" value="true" type="checkbox">

                                                                            }
                                                                            else
                                                                            {
                                                                                <input class="form-check-input" name="prescriptions[@i].Night" type="checkbox">

                                                                            }
                                                                        }
                                                                        Night
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                @if (State != "View")
                                                                {
                                                                    <a  class="btn bg-danger-light trash"><i class="far fa-trash-alt"></i></a>

                                                                }
                                                               </td>
                                                        </tr>
                                                    }
                                                }
                                                    
                                              
                                                    @*											<tr class="prescription-count">
                                                    <td>
                                                    <input class="form-control" type="text">
                                                    </td>
                                                    <td>
                                                    <input class="form-control" type="text">
                                                    </td>
                                                    <td>
                                                    <input class="form-control" type="text">
                                                    </td>
                                                    <td>
                                                    <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Morning
                                                    </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Afternoon
                                                    </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Evening
                                                    </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Night
                                                    </label>
                                                    </div>
                                                    </td>
                                                    <td>
                                                    <a href="#" class="btn bg-danger-light trash"><i class="far fa-trash-alt"></i></a>
                                                    </td>
                                                    </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /Prescription Item -->
                            <!-- Signature -->
                            @*<div class="row">
                            <div class="col-md-12 text-right">
                            <div class="signature-wrap">
                            <div class="signature">
                            Click here to sign
                            </div>
                            <div class="sign-name">
                            <p class="mb-0">( Dr. Darren Elder )</p>
                            <span class="text-muted">Signature</span>
                            </div>
                            </div>
                            </div>
                            </div>*@
                            <!-- /Signature -->
                            <!-- Submit Section -->
                            @if (State != "View")
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="submit-section">
                                            <button type="submit" class="btn btn-primary submit-btn">Save</button>
                                            <button type="reset" class="btn btn-secondary submit-btn">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            }


                        </form>

                        <!-- /Submit Section -->

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		