@using doccure.Repositories.Implementaion;
@{
	var reviews = (List<ReviewAdminDTO>)ViewBag.reviews;
}
<div class="main-wrapper">

	<partial name="_Header" />
	<partial name="_AdminSidebar" /><!-- /Sidebar -->
	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Reviews</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a  asp-area="AdminCorner" asp-controller="Home" asp-action="Index">Dashboard</a></li>
							<li class="breadcrumb-item active">Reviews</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Patient Name</th>
											<th>Doctor Name</th>
											<th>Ratings</th>
											<th>Description</th>
											<th>Date</th>
											<th class="text-right">Actions</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var review in reviews)
										{
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/img/uploads/@review.PatienImage" alt="User Image"></a>
														<a href="profile.html">@review.PatientName </a>
													</h2>
												</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/img/uploads/@review.DoctortImage" alt="User Image"></a>
														<a href="profile.html">Dr. @review.DoctortName</a>
													</h2>
												</td>

												<td>
													@{
														for(int i = 1; i <= 5; i++)
														{
															if (review.Stars >= i)
															{
																<i class="fe fe-star text-warning"></i>

															}
															else
															{
																<i class="fe fe-star-o text-secondary"></i>
															}
														}
													}
													
													
												</td>

                                                <td>
                                                    @review.Description

                                                </td>
												<td>@review.CreatedTime.Date <br><small>@review.CreatedTime.TimeOfDay</small></td>
												<td class="text-right">
													<div class="actions actions-reviews">
														<a class="btn btn-sm bg-danger-light" data-toggle="modal" href="#delete_modal">
															<input name="reviewId" value="@review.Id" hidden="hidden"/>
															<i class="fe fe-trash"></i> Delete
														</a>

													</div>
												</td>
											</tr>
										}
										

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
	<!-- /Page Wrapper -->
	<!-- Delete Modal -->
	<div class="modal fade delete-review" id="delete_modal" aria-hidden="true" role="dialog">
	

		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<!--	<div class="modal-header">
						<h5 class="modal-title">Delete</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>-->
				
				<div class="modal-body">
					<div class="form-content p-2">
						<h4 class="modal-title">Delete</h4>
						<p class="mb-4">Are you sure want to delete?</p>
					<button name="ReviewId" type="submit" class="btn btn-primary trash" value="">Save </button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
