@using doccure.Data.Models;
@model doccure.Data.RequestModels.DoctorProfileRequest;

@{
	var user = (Applicationuser)ViewData["User"];
	var specialities = (List<Speciality>)ViewData["Specialities"];
	var week = new List<string>() { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
	//var useraddress = user.address;

}
<partial name="_Breadcrumb"/>
<!-- Page Content -->
<div class="content">
	<div class="container-fluid">
		<div class="row">


<partial name="_DoctorSidebar" />

<div class="col-md-7 col-lg-8 col-xl-9">
				<form asp-action="DoctorProfile" asp-controller="DoctorProfile" enctype="multipart/form-data">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Basic Information</h4>
				<div class="row form-row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="change-avatar">
								<div class="profile-img">
												<img src="~/img/uploads/@user.Image" alt="User Image">
								</div>
								<div class="upload-img">
									<div class="change-photo-btn">
										<span><i class="fa fa-upload"></i> Upload Photo</span>
													<input asp-for="ImageFile" type="file" class="upload">
									</div>
									<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Username <span class="text-danger">*</span></label>
							<input asp-for="UserName" type="text" class="form-control" value=@user.UserName>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Email <span class="text-danger">*</span></label>
							<input asp-for="Email" type="text" class="form-control" value=@user.Email>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>First Name <span class="text-danger">*</span></label>
							<input asp-for="FirstName" type="text" class="form-control" value=@user.FirstName>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Last Name <span class="text-danger">*</span></label>
							<input asp-for="LastName" type="text" class="form-control" value=@user.LastName>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Phone Number</label>
							<input asp-for="PhoneNmber" type="text" class="form-control" value=@user.PhoneNumber>
						</div>	
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Gender</label>
							<select class="form-control select" asp-for="gender">
								<option>Select</option>
								@{if (@user.Gender==true)
								{
								<option value="1" selected>Male</option>
								}else{
								<option value="1">Male</option>
								}}
								@{if (@user.Gender==false)
								{
								<option value="0" selected>Female</option>
								}else{
								<option value="0">Female</option>
								}}
								
								
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Speciality</label>

							<select class="form-control select" asp-for="SpecialityId">
								@foreach (var speciality in specialities)
								{
									if (@speciality.Id.Equals(user?.doctor?.SpecialityId))
									{
										<option value="@speciality.Id" selected>@speciality.Name</option>
									}
									else
									{
										<option value="@speciality.Id">@speciality.Name</option>
									}

								}
							</select>

						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group mb-0">
							<label>Date of Birth</label>
							<input asp-for="DateofBirth" type="date" class="form-control" value=@user.DateofBirth?.ToString("yyyy-MM-dd")>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Basic Information -->
		<!-- About Me -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">About Me</h4>
				<div class="form-group mb-0">
					<label>Biography</label>
					<textarea class="form-control" rows="5" asp-for="AboutMe" value="@user.doctor?.AboutMe"></textarea>
				</div>
			</div>
		</div>
		<!-- /About Me -->
		<!-- Clinic Info -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Clinic Info</h4>
				<div class="row form-row">
					<div class="col-md-6">
						<div class="form-group">
						<input asp-for="Clinic.Id" type="text" class="form-control" value="@user.doctor?.clinics.First().Id" hidden="hidden">	
						<label>Clinic Name</label>
							<input asp-for="Clinic.Name" type="text" class="form-control" value="@user.doctor?.clinics.First().Name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Clinic Address</label>
							<input asp-for="Clinic.Address" type="text" class="form-control" value="@user.doctor?.clinics.First().Address">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Clinic Start Day Work</label>
							<select class="form-control select" asp-for="Clinic.FromDay">
								@for (int i=0;i<week.Count;i++)
								{
									if (@user.doctor?.clinics.First().FromDay==i)
									{
										<option value="@i" selected>@week[i]</option>
									}
									else
									{
										<option value="@i">@week[i]</option>
									}

								}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Clinic Start Day Work</label>
							<select class="form-control select" asp-for="Clinic.ToDay">
								@for (int i = 0; i < week.Count; i++)
								{
									if (@user.doctor?.clinics.First().ToDay == i)
									{
										<option value="@i" selected>@week[i]</option>
									}
									else
									{
										<option value="@i">@week[i]</option>
									}

								}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Clinic Start Time Work</label>
							<input asp-for="Clinic.FromTime" type="time" class="form-control" value="@user.doctor?.clinics.First().FromTime?.ToString()">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Clinic Start Time Work</label>
							<input asp-for="Clinic.ToTime" type="time" class="form-control" value="@user.doctor?.clinics.First().ToTime?.ToString()">
						</div>
					</div>
					<div class="col-md-12">
					<div class="form-group">
					<label>Clinic Images</label>
					
						@{
											<input asp-for="ClinicImages" class="dropzone" multiple />
							//<form action="#" class="dropzone"></form>
						}
										
					
					</div>
					@{//<div class="upload-wrap">
					//<div class="upload-images">
					//<img src="assets/img/features/feature-01.jpg" alt="Upload Image">
					//<a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
					//</div>
					//<div class="upload-images">
					//<img src="assets/img/features/feature-02.jpg" alt="Upload Image">
					//<a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
					//</div>
					//</div>
					}
					</div>
				</div>
			</div>
		</div>
		<!-- /Clinic Info -->
		<!-- Contact Details -->
		<div class="card contact-card">
			<div class="card-body">
				<h4 class="card-title">Contact Details</h4>
				<div class="row form-row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Address Line 1</label>
							<input asp-for="Address1.Address1" type="text" class="form-control" value="@user.address?.Address1">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Address Line 2</label>
							<input asp-for="Address1.Address2" type="text" class="form-control" value="@user.address?.Address2">

						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">City</label>
							<input asp-for="Address1.City" type="text" class="form-control" value="@user.address?.City">

						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">State / Province</label>
							<input asp-for="Address1.State" type="text" class="form-control" value="@user.address?.State">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Country</label>
							<input asp-for="Address1.Country" type="text" class="form-control" value="@user.address?.Country">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Postal Code</label>
							<input asp-for="Address1.PostalCode" type="text" class="form-control" value="@user.address?.PostalCode">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Contact Details -->
		<!-- Pricing -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Pricing</h4>

				<div class="form-group mb-0">
					<div id="pricing_select">
						
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="price_custom" name="rating_option" value="custom_price" class="custom-control-input" >
							<label class="custom-control-label" for="price_custom">Custom Price (per hour)</label>
						</div>
					</div>

				</div>

				<div class="row custom_price_cont" id="custom_price_cont" style="display: none;">
					<div class="col-md-4">
						<input type="text" class="form-control" id="custom_rating_input"  value="@user.doctor?.Price" placeholder="20" asp-for="price">
						<small class="form-text text-muted">Custom price you can add</small>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="custom_rating_input" value="@user.doctor?.VideoCall" placeholder="20" asp-for="videocall">
						<small class="form-text text-muted">Custom price you can add</small>
					</div>
				</div>

			</div>
		</div>
		<!-- /Pricing -->
		<!-- Services and Specialization -->
		<div class="card services-card">
			<div class="card-body">
				<h4 class="card-title">Services and Specialization</h4>
				<div class="form-group">
					<label>Services</label>
					<input asp-for="Services" value="@user.doctor?.Services" type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Enter Services" name="services" id="services">
					<small class="form-text text-muted">Note : Type & Press enter to add new services</small>
				</div>
				<div class="form-group mb-0">
					<label>Specialization </label>
					<input asp-for="Specialization"value="@user.doctor?.Specialization" class="input-tags form-control" type="text" data-role="tagsinput" placeholder="Enter Specialization"   id="specialist">
					<small class="form-text text-muted">Note : Type & Press  enter to add new specialization</small>
				</div>
			</div>
		</div>
		<!-- /Services and Specialization -->
		<!-- Education -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Education</h4>
				<div class="education-info">
					@if (user.doctor?.educations!=null)
					{
						@for (int i=0;i<user.doctor?.educations.Count;i++)
						{
							var  education = user.doctor.educations.ElementAtOrDefault(i);
							<div class="row form-row education-cont">
								<div class="col-12 col-md-10 col-lg-11">
									<div class="row form-row">
										<div class="col-12 col-md-6 col-lg-4">
											<input asp-for="Educations[i].Id" type="text"  class="form-control EducationID" hidden="hidden" value="@education.Id">
											<div class="form-group">
												<label>Degree</label>
												<input asp-for="Educations[i].Degree" type="text" class="form-control" value="@education.Degree">
											</div>
										</div>
										<div class="col-12 col-md-6 col-lg-4">
											<div class="form-group">
												<label>College/Institute</label>
												<input asp-for="Educations[i].College" type="text" class="form-control" value="@education.College">
											</div>
										</div>
										<div class="col-12 col-md-6 col-lg-4">
											<div class="form-group">
												<label>Year of Completion</label>
												<input asp-for="Educations[i].YearofCompletion" type="date" class="form-control" value="@education.YearofCompletion.ToString("yyyy-MM-dd")">
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-2 col-lg-1"><label class="d-md-block d-sm-none d-none">&nbsp;</label><a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
							</div>
						}
					}
					
					
				</div>
				<div class="add-more">
					<a href="javascript:void(0);" class="add-education"><i class="fa fa-plus-circle"></i> Add More</a>
				</div>
			</div>
		</div>
		<!-- /Education -->
		<!-- Experience -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Experience</h4>
				<div class="experience-info">
					@if (user.doctor?.experiences != null)
					{
						@for (int i = 0; i < user.doctor?.experiences.Count; i++)
						{
							var experience = user.doctor.experiences.ElementAtOrDefault(i);
							<div class="row form-row experience-cont">
								<div class="col-12 col-md-10 col-lg-11">
									<div class="row form-row">
										<div class="col-12 col-md-6 col-lg-4">
											<input asp-for="Experience[i].Id" type="text" class="form-control ExperienceID" hidden="hidden" value="@experience.Id">
											
											<div class="form-group">
												<label>Hospital Name</label>
												<input asp-for="Experience[i].HospitalName" type="text" class="form-control" value="@experience.HospitalName">
											</div>
										</div>
										<div class="col-12 col-md-6 col-lg-4">
											<div class="form-group">
												<label>From</label>
												<input asp-for="Experience[i].From" type="date" class="form-control" value="@experience.From.ToString("yyyy-MM-dd")">
											</div>
										</div>
										<div class="col-12 col-md-6 col-lg-4">
											<div class="form-group">
												<label>To</label>
												<input asp-for="Experience[i].To" type="date" class="form-control" value="@experience.To.ToString("yyyy-MM-dd")">
											</div>
										</div>
										<div class="col-12 col-md-6 col-lg-4">
											<div class="form-group">
												<label>Designation</label>
												<input asp-for="Experience[i].Designation" type="text" class="form-control" value="@experience.Designation">
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-2 col-lg-1"><label class="d-md-block d-sm-none d-none">&nbsp;</label><a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
							</div>
						
						}

					}
				
				</div>
				<div class="add-more">
					<a href="javascript:void(0);" class="add-experience"><i class="fa fa-plus-circle"></i> Add More</a>
				</div>
			</div>
		</div>
		
		<!-- /Experience -->
		<!-- Awards -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Awards</h4>
				<div class="awards-info">
					@if (user.doctor?.awards != null)
					{
						@for (int i = 0; i < user.doctor?.awards.Count; i++)
						{
							var award = user.doctor.awards.ElementAtOrDefault(i);
							<div class="row form-row awards-cont">
						<div class="col-12 col-md-5">
						<input asp-for="Awards[i].Id" type="text" class="form-control AwardId" hidden="hidden" value="@award.Id">
											
							<div class="form-group">
								<label>Awards</label>
								<input asp-for="Awards[i].award" type="text" class="form-control" value="@award.award">
							</div>
						</div>
						<div class="col-12 col-md-5">
							<div class="form-group">
								<label>Year</label>
								<input asp-for="Awards[i].year" type="date" class="form-control" value="@award.year.ToString("yyyy-MM-dd")">
							</div>
						</div>
						<div class="col-12 col-md-2">
				<label class="d-md-block d-sm-none d-none">&nbsp;</label>
				<a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
			</div>
					</div>
						}
					}
					
					
				</div>
				<div class="add-more">
					<a href="javascript:void(0);" class="add-award"><i class="fa fa-plus-circle"></i> Add More</a>
				</div>
			</div>
		</div>
		<!-- /Awards -->
		<!-- Memberships -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Memberships</h4>
				<div class="membership-info">
					@if (user.doctor?.memberships != null)
					{
						@for (int i = 0; i < user.doctor?.memberships.Count; i++)
						{
							var membership = user.doctor.memberships.ElementAtOrDefault(i);
							<div class="row form-row membership-cont">
								<input asp-for="Membership[i].Id" type="text" class="form-control MembershipId" hidden="hidden" value="@membership.Id">

						<div class="col-12 col-md-10 col-lg-5">
							<div class="form-group">
								<label>Memberships</label>
								<input asp-for="Membership[i].description" type="text" class="form-control" value="@membership.description">
							</div>
						</div>
								<div class="col-12 col-md-2 col-lg-2">
									<label class="d-md-block d-sm-none d-none">&nbsp;</label>
									<a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
								</div>
					</div>
						}
					}
					

					
				</div>
				<div class="add-more">
					<a href="javascript:void(0);" class="add-membership"><i class="fa fa-plus-circle"></i> Add More</a>
				</div>
			</div>
		</div>
		<!-- /Memberships -->
		<!-- Registrations -->
		@*<div class="card">
			<div class="card-body">
				<h4 class="card-title">Registrations</h4>
				<div class="registrations-info">
					<div class="row form-row reg-cont">
						<div class="col-12 col-md-5">
							<div class="form-group">
								<label>Registrations</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-12 col-md-5">
							<div class="form-group">
								<label>Year</label>
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="add-more">
					<a href="javascript:void(0);" class="add-reg"><i class="fa fa-plus-circle"></i> Add More</a>
				</div>
			</div>
		</div>
		<!-- /Registrations -->*@

		<div class="submit-section submit-btn-bottom">
			<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
		</div>
	</form>
	<!-- Basic Information -->
	

</div>	
			</div>

			</div></div>
<script src="~/js/jquery.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

	
								  <script src="~/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
		<script src="~/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

		<!-- Select2 JS -->
		<script src="~/plugins/select2/js/select2.min.js"></script>

		<!-- Dropzone JS -->
		<script src="~/plugins/dropzone/dropzone.min.js"></script>

		<!-- Bootstrap Tagsinput JS -->
		<script src="~/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

		<!-- Profile Settings JS -->
		<script src="~/js/profile-settings.js"></script>

		<!-- Custom JS -->
		<script src="~/js/script.js"></script>